/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
} */
.newGroupForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000; /* Ensures it stays above other elements */
  width: 500px; /* Adjust width as needed */
  height: 230px;
}

.newGroupForm h2{
  font-size: 21px;
  font-weight:600;
  margin-bottom: 10px;
}

.newGroupForm form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .newGroupForm label {
  margin-bottom: 10px;
} */

.formGroup {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
  margin-bottom: 10px; /* Space below the input field */
  font-weight:600;
}

.groupName {
  margin-left: 35px;
  padding: 8px;
  width: 70%;
  /* font-size: 14px; */
}

.newGroupForm input{

  color: #979797;
  border: 2px solid #979797;
  border-radius: 25px;
  padding-left: 25px;
}


.colorSelection {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10;
  /* justify-content: c; */
}

.colorSelection p{
  font-weight: 600;
  margin-right: 40px;
}

.colorOptions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 2px solid transparent; /* Initial border for unselected state */
}

.colorCircle.selected {
  transform: scale(1.2); /* Enlarge selected color */
  border: 2px solid #000; /* Border to indicate selection */
}

.submitButton {
  position: absolute; /* Absolute positioning to place it inside the form */
  bottom: 20px; /* Gap from the bottom */
  right: 20px; /* Gap from the right */
  padding: 6px 40px; /* Padding for the button */
  background-color: #16008B; /* Button background color */
  color: white; /* Button text color */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
}

.submitButton:hover {
  background-color: #0f015f; /* Darker color on hover */
}

